<div class="example">
  <li>
    <% if current_user.admin? && !current_user?(user) %>
    <p><%= user.name %></p>
    
      <span> | </span><%= link_to "削除", user, method: :delete,
        data: { confirm: "削除してよろしいですか？" },
        class: "btn btn-primary" %>
      <div class="panel-group">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion"
              href="#collapse" class="btn btn-primary" style="line-height: 35px;
              width: 90px; height: 50px; margin: 10px;">編集</a>
            </h4>
          </div>

          <div id="collapse" class="panel-collapse collapse">
            <div class="panel-body">
              <%=  '#' %>
            </div>
          </div>
        </div>
      </div>

    <% end %>
  </li>
</div>