<div>
  <li>
    <%= user.name %>
    <div class="panel panel-default collaps">
      <%= link_to "削除", "#" %><br>
      <a href="#link1" data-toggle="collapse" style="width: 80px" class="btn btn-primary">編集</a>
    </div>
    <div id="link1" class="collapse">
      編集
    </div>
  </li>
</div>