<h1>出勤中社員一覧</h1>

<table class="table table-bordered table-condensed" id="table-users">
  <thead>
    <tr>
      <th>社員番号</th>
      <th>名前</th>
    </tr>
  </thead>
  <tbody>
      <% @users.each do |user| %>
        <tr>
            <% if @attendance.started_at.present? && @attendance.finished_at.nil? %>
              <td><%= employee_number %></td>
              <td><%= name %></td>
            <% end %>
        </tr>
      <% end %>
  </tbody>
</table>