/* ユーザー情報テーブル */



.user-table {
  vertical-align: middle;
  text-align: center;
}



/* ユーザー情報下ボタン*/

.btn-users-show {
  margin-top: -10px;
  margin-bottom: 10px;
  text-align: left;
  padding: 0px;
}

/*　ユーザー勤怠情報テーブル */

#table-attendances {
  th {
    vertical-align: bottom;
    text-align: center;
  }
  td {
    vertical-align: middle;
    text-align: center;
  }
}

/* 勤怠編集画面 */
.style-select {
  width: 55%;
}

/* 入力フォーム */

.label-signup {
  margin-top: 5px;
  
}

.btn-signup {
  margin-top: 10px;
}

.label-user--edit {
  margin-top: 5px;
}

.btn-user--edit {
  margin-top: 10px;
}

/* ユーザー一覧ページ */

h5 {
  padding-left: 35px;
  padding-top: 5px;
}

p {
  margin-top: 0px;
}
ul {
  list-style-type: none; /*点を消す*/
  padding: 0px; /*左の隙間を消す*/
}

.example {
  padding-left: 50px;
}

#table-users {
  td {
    vertical-align: middle;
  }
}

/* 基本情報編集モーダルウインドウ*/

.label-basic-info {
  margin-top: 5px;
}

.btn-basic-info {
  margin: 15px 0;
  width: 30%;
}
